%body
  .container
    .row
      .col-md-1
      .col-md-4
        = image_tag("Employee.png", height: '80%' , width: '80%')
      .col-md-2
      .col-md-4
        = image_tag("vendor.png", height: '100%', width: '90%')
      .col-md-1
