%ul.pager
  .row
    .col-md-2
      %li
        %a{:href =>companies_path} Previous
    .col-md-8
    .col-md-2	
      %li
        %a{:href =>new_company_user_path} Create

%h1.text-center LISTING!
%table.table{:border =>3,:align => "center",:style=>"width:60%"}
  .table-hover
  
    %tbody
      %tr
        %th NAME:
        %th ACTIVE:
        
        =render "commonindex" ,object: @user, as: 'user'  
      





     
