%ul.pager
  .row
    .col-md-2
      %li
        %a{:href =>companies_path} Previous
    .col-md-8
    .col-md-2	
      %li
        %a{:href =>new_company_user_path} Create

%h1.text-center LISTING!
%table{:border =>3,:class => 'col-md-offset-4 table-active',width: 350}

  /.table-bordered
  .table-hover
  
    %tbody
      %tr
        %td NAME:
        %td active:
        
      - @users.each do |user|
        %tr
          %td= user.name
          %td= user.active
          

          %td= link_to "show",company_user_path(@company.id,user.id),:class=> 'btn btn-success btn-md btn-block'
          %td= link_to "Edit",edit_company_user_path(@company.id,user.id),:class=> 'btn btn-info btn-block'



     
