%br
%br
%br
%h1.text-center EMPLOYEES
%br
%br
%br
.container
  .row
    .col-md-4.col-sm-4
    .col-md-4.col-sm-4
      %form{"accept-charset" => "UTF-8", :action => "users/search", :method => "get"}
        %input#q{:name => "search_value", :type => "text",:required => true,:placeholder => "Enter the name..."}
        %input{:name => "commit", :type => "submit", :value => "Search"}
    .col-md-4.col-sm-4
%br
%br
%br
.container-fluied
  %table.table.table-fixed{:border =>3,:align => "center",:style=>"width:50%",fontsize: "150px"}
   
    
    %tbody
      %tr
        %th 
          .text-center
            NAME:
        %th 
          .text-center
            STATUS
        %th 
          .text-center
            ACTION
        / =render "commonindex" ,object: @user, as: 'user'
        - @users.each do |user|
          = render 'user_row', user: user  

.text-center
  = paginate @users, :theme =>'twitter-bootstrap-3'
