=stylesheet_link_tag 'users'
.page-header
  %h1
    Available Vendors
    %small Select Menu
    .container
      .row
      %div.some{:style => "padding: 204*406"}
        - @company_vendors.each do |vendor|
        - v = Vendor.find(vendor)
          .col-md-3.col-sm-6
            .thumbnail.some{:style => "height: 250px"}
              =image_tag(v.logo, alt:"Vendor Logo", class:"image")
              .caption
                %h4
                  =v.name
                  %br
                  .row
                    .col-md-2
                    .col-md-8 
                      .btn.btn-default
                        =link_to "Select Menu",'javascript:void(0)',{'data-target'=> '#' + v.name.gsub(" ","_"), 'data-toggle' => "modal"}
                    .col-md-2
                  .modal.fade{:role => "dialog", :id => v.name.gsub(" ","_"), :role => "dialog"}
                    .modal-dialog
                      .modal-content
                        .modal-header
                          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                            %span{"aria-hidden" => "true"} ×
                          %h4.modal-title List of Menus
                        .modal-body
                          =simple_form_for :order, url: place_orders_path do |f|
                            - @vendor_menus = v.menu_items
                            %table 
                              %tbody
                              %tr
                                %th
                                %th Menu:
                                %th Price:
                              - @vendor_menus.each do |menu|
                                %tr{:padding =>"5px"} 
                                %td
                                  .radio
                                    %label
                                      %input#menu.name{:name => "menu_selected", :type => "radio", :value => menu.id}
                                      =f.hidden_field :menu_selected, :value => menu.id
                                %td=menu.name 
                                %td=menu.price 
                                
                            .row
                              .col-md-3
                              .col-md-3
                              .col-md-6    
                                .btn.pull-left    
                                  =f.button :submit,"Place Order" 
                                   