=link_to "Back",company_users_path
%table{:border =>3}
  %tbody
    %tr
      %td NAME:
      %td EMAIL:
      %td PHONENO:
     
    
      %tr
        %td= @user.name
        %td= @user.email
        %td= @user.phone_no
      
        


