%ul.pager
  .row
    .col-md-2
      %li
        %a{:href =>company_users_path} Back


%table{:border =>3,:class => 'col-md-offset-4 ',width: 350}
  .table-stripped
    %tbody
      %tr
        %td NAME:
        %td EMAIL:
        %td PHONENO:
        %td ACTIVE :
     
    
        %tr
          %td= @user.name
          %td= @user.email
          %td= @user.phone_no
          %td= @user.active
      
        


