!!!
%html{:lang => "en"}
  %head
  = stylesheet_link_tag "home"  
  %body
    .container-fluid.text-center
      .row.content 
        .col-sm-12.text-center
          .page-header 
            %h1 Hello Everyone
          %p Driven by enthusiasm and passion, Josh is India’s leading company in building innovative web   applications working exclusively in Ruby On Rails since 2007.

          %p We partner with our clients from concept, design, implementation and maintenance. We believe that Programming is An Art and have a unique organizational process focused on building solutions to facilitate high performance, scalability, and high-standard code quality.

          %p We are fanatic about Test Coverage, Continuous Integration and code smell. Timelines are important but code quality is far more important. Working code is fine but we also stress test our apps for concurrency and load.

          %p CodeClimate, CircleCi, Github, Pivotal Tracker, and Trello are some of the tools we use to ensure our clients are always happy!



            
            
