%h1 Orders
%table.table-bordered
  %tbody
    %tr
      %th Order Id:
      / %th Time:
      %th Menu :
      / %th Price :
      / %th User name: 
    - @orders.each do |o|
      %tr
      %td= o.id
      / %td= o.datetime
      %td= @menu.name
      / %td= @menu.price
      / %td= "current user"

    

    