// Place all the styles related to the Caterers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.row.content {
  height: 450px
}
body {
  background: url("bg5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  background-color: #8500;
  position: absolute:
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: black
}  